.empty-list-placeholder {
    font-size: 20px;
    color: grey;
    font-weight: lighter;
}
.number {
    font-size: 38px;
    font-weight: bold;
    color: #007CBE;
    margin-bottom: 0;
}
.label {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 10;
    padding-top: 0;
}

#container
{
  width:100%;
  text-align: center;
  float: left;
  display: flex;
  justify-content: flex-end
}
#container div{
  display: inline-block;
}

.styled {
  display: inline-block;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #338fd6;
  background-image: linear-gradient(to top left,
  rgba(0, 0, 0, .2),
  rgba(0, 0, 0, .2) 30%,
  rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
  inset -2px -2px 3px rgba(0, 0, 0, .6);
}

button {
  width: 100%;
  font-weight: bold;
  color: #000;
  font-size: 18px;
  font-family: Montserrat;
}

.styled:hover {
  background-color: #1d83ca;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
  inset 2px 2px 3px rgba(0, 0, 0, .6);
}
