
<div *ngIf="membersWithTimeOff.length">

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around;">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: flex-end;">
            <p class="number">{{ '120' }}</p>
            <p class="label">{{ 'Total Available Days' }}</p>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: flex-end;">
            <p class="number">{{ '130' }}</p>
            <p class="label">{{ 'Total Estimated Days' }}</p>
        </div>
    </div>


    <button (click)="developersShown = !developersShown">
        <p style="font-weight: bold; font-size: 18px;">Developers</p>
    </button>
    <div *ngIf="developersShown">
        <div *ngFor="let member of developersList">
            <member-card
                [member]="member"
                (memberRemoved)="memberRemoved($event)"
            ></member-card>
        </div>
    </div>

    <div id="container" style="margin-bottom: 20px">
      <div *ngFor="let department of departments">
        <button class="styled" type="button" (click)="filterBy(department)">{{ department }}</button>
      </div>
    </div>

    <div style="height: 5px; background-color: grey;"></div>
    <button (click)="qasShown = !qasShown">
        <p style="font-weight: bold; font-size: 18px;">QAs</p>
    </button>
    <div *ngIf="qasShown">
        <div *ngFor="let member of qasList">
            <member-card
                [member]="member"
                (memberRemoved)="memberRemoved($event)"
            ></member-card>
        </div>
    </div>
</div>
<!-- <ng-template #elseBlock>
    <p class="empty-list-placeholder">Enter a Start date for the sprint to start.</p>
</ng-template> -->
