.start-date {
    border-radius: 19px;
    border: #007CBE solid 1px;
    max-width: 330px;
    height: 38px;
    font-size: 18px;
    font-weight: lighter;
    padding: 0 20px 0 20px;
    background-color: #fff;
}
.start-date-label {
    font-weight: bold;
    color: #000;
    font-size: 18px;
    margin-right: 10px;
}
.date-container {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
}
.date-subcontainer {
    display: inline-flex; 
    /* width: 80%; */
    align-items: center;
    gap: 10px;
}
.apply-date {
    background-color: #007CBE;
    border-radius: 30px;
    max-height: 40px;
    padding: 0px 30px 0px 30px;
}
.apply-label {
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.list-header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    margin: 100px 15% 0 15%;
}

@media screen and (max-width: 1400px) {
    .list-header-container {
        margin: 100px 25px 20px;
    }
}

.list-header-container > * {
    margin-right: 20px;
}

.start-date-wrapper {
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
}
.sprint-days {
    color: #007CBE; 
    font-size: 18px; 
    font-weight: bold;
}
