
<div class="list-header-container">
    <div class="date-container">
        <div class="date-subcontainer">
            <p class="start-date-label">Sprint Start Date:</p>
            <input #sprintStartDate
                type="date" 
                class="start-date" 
                placeholder="Add Sprint start date"
            />
        </div>
    </div>
    <div class="start-date-wrapper">
        <p class="start-date-label">Sprint Days:</p>
        <button (click)="incrementDays()">
            <p style="font-size: 20; font-weight: bold;">+</p>
        </button>
        <p class="sprint-days">{{ sprintDays }}</p>
        <button (click)="decrementDays()">
            <p style="font-size: 20; font-weight: bold;">-</p>
        </button>
    </div>
    <div class="apply-btn-container">
        <button class="apply-date"
            (click)="applyStartDate()">
            <p class="apply-label">Apply</p>
        </button>
    </div>
</div>