
<div class="member-card-container"
    [ngClass]="{'not-available' : member.availableDays === 0}">
    <div style="width: 30%;">
        <member-info 
            [name]="member.displayName" 
            [jobTitle]="member.title" 
            [avatar]="member.avatarUrl"
        ></member-info>
    </div>
    <number-counter 
        [counterNumber]="member.daysOff" 
        [counterLabel]="'Days Off'"
    ></number-counter>
    <number-counter 
        [counterNumber]="member.availableDays" 
        [counterLabel]="'Available Days'"
    ></number-counter>
    <number-counter 
        [counterNumber]="estimatedFor" 
        [counterLabel]="'Assigned Days'"
    ></number-counter>
    <jira-card-input 
        [memberAvailable]="isMemberAvailable"
        (jiraCardAdded)="addJiraCard($event)"
    ></jira-card-input>
    <div *ngIf="isMemberAvailable" class="labels-container">
        <div *ngFor="let label of jiraCards">
            <jira-card-label 
                [cardNumber]="label"
                (cardRemoved)="removeJiraCard(label)"
            ></jira-card-label>
        </div>
    </div>
    <button class="delete-button" [hidden]="jiraCards.length < 1" (click)="removeMember()">
        <img src="../../../assets/delete.png" class="delete-icon" />
    </button>
    <button class="delete-button" [hidden]="jiraCards.length > 0" mwlConfirmationPopover [popoverTitle]="popoverTitle"
        [popoverMessage]="popoverMessage" placement="right" (confirm)="removeMember()" (cancel)="false">
        <img src="../../../assets/delete.png" class="delete-icon" />
    </button>
    <input type="checkbox"
        id="on_ps"
        name="onPs"
        [checked]="onPs"
        (change)="onPsChecked(!onPs)" />
</div>
